---
layout: default
---
<header class="masthead">
   <nav class="masthead-nav">
    {% for nav in site.nav %}
      {% if nav.download %}
      <a href="{{ site.baseurl }}/{{ nav.link }}">{{ nav.name }}<i class="icon-download"></i></a>
      {% else %}
      <a href="{{ site.baseurl }}/{{ nav.link }}">{{ nav.name }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
</header>
<div class="content page">
  <h1 class="page-title">{{ page.title }}</h1>
  <img src="../assets/photoself.png">

  <p class="lead">Hi! :wave: I'm Bergrós.</p>

  <p>
  :computer: Software Developer at Solid Clouds<br>
  :round_pushpin: Located in Reykjavik, Iceland<br>
  </p>

  In my current position at Solid Clouds I work closely with artists and designers to create the UI for <a href="https://starborne.com/">Starborne</a> using Unity/C#. Im interested in exploring other sides of game programming such as gameplay, engine and/or graphics. 
  <br><br>
  This page is a blog for my projects and thoughts on tech I'm trying out. Feel free to check it out to see what I've been up to.

  <p><br>
  :memo: I'd love to hear from you! bergros.gigja@gmail.com
  </p>
</div>